<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome.css">
    <link rel="stylesheet" href="/stylesheets/templatemo-training-studio.css">
    <title></title>
</head>
<body>
    

<header class="header-area header-sticky" style="background-color: black;">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <nav class="main-nav" >
                  <!-- ***** Logo Start ***** -->
                  <a href="/" class="logo">Fit<em> Fusion</em></a>
                  <!-- ***** Logo End ***** -->
                  <!-- ***** Menu Start ***** -->
                  <ul class="nav">
                      <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                      <li class="scroll-to-section"><a href="/community">Community</a></li>
                      <% if (user) { %>
                      <li class="scroll-to-section"><a href="/workout-plans/<%= user._id %>">My Workout Plans</li>
                      <% } %>
                      <% if (user) { %>
                      <li class="scroll-to-section"><a href="/auth/sign-out">Sign Out</a></li>
                      <% } else { %>
                      <li class="scroll-to-section"><a href="/auth/sign-up">Sign Up</a></li> 
                      <li class="scroll-to-section"><a href="/auth/sign-in">Sign In</a></li> 
                      <% } %>
                  </ul>        
                  <a class='menu-trigger'>
                      <span>Menu</span>
                  </a>
                  <!-- ***** Menu End ***** -->
              </nav>
          </div>
      </div>
  </div>
</header>
