<%- include('../partials/head') %>

<section class="section" id="trainers">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-heading">
                    <h2>Add your <em>plan</em></h2>
                    <img src="/assets/line-dec.png" alt="Graphical element">
                    <p>Create your new workout plan.</p>                     
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="d-flex">
        <div class="contact-form col-lg-6 col-md-6 col-xs-12">
            <form id="contact" action="/workout-plans/<%= user._id %>" method="POST">
                <div class="newplan" style="display: flex;">
                    <div class="col-lg-12">
                        <label for="name">Workout Plan name: <p><small>Give your workout a title</small></p></label>
                        <input type="text" name="name">
                    </div>
                    <div class="col-lg-12">
                        <label for="difficultyLevel">Difficulty Level: <p><small>Beginner - Intermediate - Expert</small></p></label>
                        <input type="text" name="difficultyLevel">
                    </div>
                </div>
                <div class="newplan" style="display: flex;">
                    <div class="col-lg-12">
                        <label for="duration">Duration: <p><small>Amount of weeks to complete</small></p></label>
                        <input type="number" name="duration">
                    </div>
                    <div class="col-lg-12">
                        <label for="daysPerWeek">Days per week: <p><small>Active workout days per week</small></p></label>
                        <input type="number" name="daysPerWeek">
                    </div>
                </div>
                <div class="newplan" style="display: flex;">
                    <div class="col-lg-12">
                        <label for="timePerWorkout">Time per workout: <p><small>Total time in Minutes</small></p></label>
                        <input type="number" name="timePerWorkout">
                    </div>
                    <div class="col-lg-12">
                        <label for="equipmentRequired">Equipment Required: <p><small>Dumbbells, Pull-up bar, etc.</small></p></label>
                        <input type="text" name="equipmentRequired">
                    </div>
                </div>
                <div>
                    <div class="col-lg-12">
                        <label for="description">Description: </label>
                        <p><small>Add line breaks to start a new paragraph.</small></p>
                        <textarea type="text" name="description"></textarea>
                    </div>
                    <div class="col-lg-12">
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<%- include('../partials/footer') %>

